<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.png') }}">
    <title>MSX Copilot</title>
</head>
<body>
    <div id="header">
        <h2>MSX Copilot</h2>
    </div>
    <div id="content">
        <div>
            <div id="chat_history">
                {% for message in messages %}
                    <p class="chat_msg chat_msg_{{ message['role'] }}">{{ message['content'] }}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            <form action="/chat" method="post" id="user_input">
                <input type="text" name="message" id="message" placeholder="Enter your message here">
                <input type="submit" value="Send" id="submit">
            </form>
        </div>
    </div>
    <div id="footer">
        <form action="/reset" method="post" id="reset">
            <input type="submit" value="Reset" id="reset_button">
        </form>
    </div>
</body>
</html>